body {
    background-color:#D9BEA7;
    font-family: 'Open Sans', serif;
    margin: 0;
}
.circleCrop {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 20%;
    position: relative;
    margin:auto;
}
.headerDiv{
    padding: 50px;
    text-align: center;
    background-color: white;
}
img {
    object-fit: cover;
    width: 500px;
    height: 500px;
    display: inline;
    scale: 1.6;
    object-position: -17px -130px;
}
h1 {
    color:rgb(0, 0, 0);
    font-family: 'Ubuntu', sans-serif;
}
h2 {
    color:rgb(0, 0, 0);
    clear:both;
}
p {
    color:rgb(0, 0, 0);
    font-size: larger;
    clear:both;
    padding-top: 20px;
}
a{
    color:#3687f1;
    text-decoration: none;
}
a:visited{
    color:#864487;
    text-decoration: none;
}
a:hover{
    color: #5a90d7;
    text-decoration: none;
}
a:active{
    color:#295287;
    text-decoration: none;
}
svg{
    height: 500%;
    padding-right: 10px;
    padding-left: 10px;
    width:auto;
}
#contactInfo{
    padding-top: 1in;
    text-align: center;
}
