body {
    background-color:#D9BEA7;
    font-family: 'Open Sans', serif;
    margin: 0;
}
.circleCrop {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 20%;
    position: relative;
    margin:auto;
}
#headerDiv{
    padding: 50px;
    text-align: center;
    background-color: white;
}
#headerDiv img {
    object-fit: cover;
    width: 500px;
    height: 500px;
    display: inline;
    scale: 1.6;
    object-position: -17px -130px;
}
h1 {
    color:rgb(0, 0, 0);
    font-family: 'Ubuntu', sans-serif;
}
h2 {
    color:rgb(0, 0, 0);
    clear:both;
}
p {
    color:rgb(0, 0, 0);
    font-size: larger;
    clear:both;
    padding-top: 20px;
}
a{
    color:#3687f1;
    text-decoration: none;
}
a:visited{
    color:#864487;
    text-decoration: none;
}
a:hover{
    color: #5a90d7;
    text-decoration: none;
}
a:active{
    color:#295287;
    text-decoration: none;
}
svg{
    height: 500%;
    padding-right: 10px;
    padding-left: 10px;
    width:auto;
}
#contactInfo{
    clear: both;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 1in;
    text-align: center;
}
.flexwrapper{
    display:flex;
}
#Projects h2{
    padding-left: 35px;
    padding-top: 10px;
}
#Projects ul{
    margin: 30px 0px;
}
#Projects li{
    border-left:5px solid #F25835;
    padding:20px;
}
#Projects li:hover{
    cursor: pointer;
    border-left:10px solid #F25835;
    transition-timing-function: linear;
    transition: border-left 300ms;
}
#AutoRobot122list{
    float: left;
    width:fit-content;
    height: fit-content;
}
#AutoRobot122desc{
    float: right;
    text-align: justify;
}
#AutoRobot122desc{
    width: 100%;
}
#AutoRobot122desc p{
    word-wrap:normal;
}
#AutoRobot122desc img{
    float: left;
    height: 300px;
    width: auto;
    padding-right: 30px;
}

